.page {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spaceXS);
}

.container h1 {
  font-size: 1.5rem;
  color: var(--textMuted);
  text-transform: uppercase;
  text-align: center;
}
