.customContainer {
  justify-content: space-between;
  gap: var(--spaceMD);

  .main {
    display: flex;
    flex-direction: column;
    gap: var(--spaceMD);
  }
}

.customContainer .main p {
  color: var(--textMuted);
}

.customContainer .main p b {
  color: var(--shape);
}

.customContainer .main p b span {
  color: var(--primary);
}

.main h3 {
  font-size: 1.5rem;
  color: var(--shape);
}
.main h4 {
  font-size: 1.2rem;
  color: var(--primary);
}

.main h2 {
  color: var(--shape);
}

.title {
  font-size: 2rem;
  color: var(--shape);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: var(--spaceXS);
}

.title span {
  color: var(--primary);
}

.wrapResume {
  display: flex;
  flex-direction: column;
  gap: var(--spaceXS);
  padding-bottom: calc(var(--spaceXS) * 4);
}

.cardCoupon {
  width: 500px;
  padding: var(--spaceXS);
  border: 1px solid var(--primaryO50);
  border-radius: 10px;
  color: var(--textMuted);
  font-weight: var(--fontBold);
}

.paymentButton {
  background-color: var(--primary);
  width: 100%;
  height: 50px;
  border-radius: 25px;
  font-size: 1.2rem;
  color: var(--shape);
  cursor: pointer;
  border: 0;
}

.bunkerImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
  .customContainer {
    flex-wrap: wrap-reverse;
    gap: calc(var(--spaceXS) * 2);

    .main {
      width: 100%;
      padding-bottom: calc(var(--shapeXS) * 4);
      align-items: center;
    }

    .wrapResume {
      width: 100%;
      padding-bottom: 0;
    }

    .cardCoupon {
      width: 100%;
    }

    .title {
      font-size: 1.5rem;
    }

    .paymentButton {
      width: fit-content;
      padding: 0 var(--spaceXS);
      margin-bottom: calc(var(--spaceXS) * 2);
    }
  }
}
@media screen and (max-width: 424px) {
  .customContainer {
    gap: calc(var(--spaceXS) * 2);

    .main {
      align-items: center;
    }

    .title {
      font-size: 1rem;
    }
  }
}
