.customContainer {
  flex: 1;
  gap: var(--spaceXS);

  main {
    padding: 0 0 calc(var(--spaceXS) * 4);

    h2 {
      color: var(--textMuted);
      margin-bottom: calc(var(--spaceXS) * 1.5);
    }

    p {
      margin-bottom: var(--spaceMD);
      font-size: 1rem;
      color: var(--textMuted);
    }
  }
}

@media screen and (max-width: 768px) {
  .customContainer {
    flex-direction: column-reverse;
  }
}
