.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--borderColor);
  height: 50px;
}

.customContainer {
  height: 100%;
  align-items: center;
}

.customContainer p {
  color: var(--textMuted);
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .customContainer {
    justify-content: center;
  }

  .customContainer p {
    text-align: center;
  }
}
